/*            Body    */

body{
    background-color: black;
    /* position: relative;
    padding-bottom: 3em;
    */
    display: flex;
    flex-direction: column;
    min-height: 150%;
    background-size:48%;
    background-position: center;
    background-repeat: no-repeat;
}

.main_section .title {
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/cart_bg.jpg");
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    transition: 1s;
}

.main_section .title:hover {
    height: 40vw;

}

.title h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
    font-weight: 200;
    transition: 1s;
}

.title h1:hover {
    transform: scale(160%);
}


/* .title h1 {
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 5.8vh;
    padding-bottom: 3%;
    font-weight: bold; 
    margin: 2%;
} */

/* .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
}  */

  /* form animation starts */
.main_section {
    height: fit-content;
    background-color: black;
}


.Shopping_section {
    margin: 1%;
    display: flex;
    justify-content: space-around;
}

.table_conteiner {
    background-color: rgb(56,60,60)  !important; 
    border-radius: 1vw;
    width: 74vw;
}

table {
    background-color: rgb(56,60,60) !important; 
    padding: 1vw;
    border-radius: 15%;
}

.table_title {
    text-align: center;
    color: white;
    font-size: 2.5vw;
}

tr:first-of-type th:first-of-type {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.price-cell {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.product_conteiner{
    display: flex;
    color: white;
    font-size: 1.4vw;
    width: 50vw;
}

.product_conteiner img {
    width: 15vw;
    transition: 1s;
} 

.product_conteiner img:hover {
    width: 20vw;

} 

.product_conteiner .remove-btm {
    border: none;
    background-color: transparent;
    color: wheat;
    text-decoration: underline;
    transition: 1s;
}

.product_conteiner .remove-btm:hover {
    color: rgb(230, 183, 97);
    text-decoration: underline;
}

form{
    align-self: center;
    justify-self: center;
}

th, td {
    border-radius: 10px;
    background-color: rgb(38, 37, 37);
}

th {
    border-bottom: 1% white;
}

.Subtotal_conteiner {
    color: white;
    font-size: 2vw;
    align-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mb-0 {
    align-items: center;
}

.row {
    width: 50vw;
}

.Total_conteiner {
    background-color: rgb(34, 34, 34)  !important; 
    border-radius: 1vw;
    width: 19.5vw;
    height: 32vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    color: white;
    display: flex;
    flex-direction: column;
}

.Sub_conteiner {
    align-items: center;
}

.mb-3 {
    background-color: rgb(19, 19, 19)  !important; 
    border-radius: 1vw;
    transition: 1s;
    width: 19.5vw;
}

.mb-3:hover {
    background-color: rgb(0, 0, 0)  !important; 
    border-radius: 1vw;
    height: 3.5vw;
    font-size: 2.3vw;
}

.mb-4 {
    transition: 1s;
}

.mb-4:hover {
    height: 3.7vw;
    font-size: 2.5vw;
}

.checkout-container{
    justify-content: right;
    text-align: right;
    align-items: center;
}

form{
    width: fit-content;
    justify-self: right;
}

.checkout-container .checkout-btn{
    margin-top: 5%;
    background-color: rgb(83, 81, 81);
    font-size: 2vw;
    transition: 1s;
    color: white;
    justify-self: center;
    align-self: center;
    border-radius: 1vw;
    border-color: transparent;
}

.checkout-container .checkout-btn:hover {
    background-color: rgb(155, 151, 151);
    height: 4.9vw;
    font-size: 2.3vw;
    color: #2a2929;
}


@media (max-width: 1200px) {

    body{
        background-color: black
    }
}

/* PANTALLAS MEDIANAS ----------------------------------------------------------------------------------------------------------*/


@media (max-width: 768px) {
    
    .main_section .title {
        height: 19vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/cart_bg.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 1s;
    }
    
    .main_section .title:hover {
        height: 19vw;
    
    }
    
    .title h1 {
        text-transform: uppercase;
        font-size: 3rem;
        color: white;
        font-weight: 100;
        transition: 1s;
    }
    
    .title h1:hover {
        transform: scale(100%);
    }

    body {
        background-color: black;
        /* position: relative;
        padding-bottom: 3em;
        */
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }


    .Shopping_section {
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 18vw;
        margin-bottom: 10vw;
    }

    .table_conteiner {
        border-radius: 1vw;
        width: 90vw;
        background-color: black !important; 
    }

    table {
        border-radius: 10%;
        background-color: transparent; 
    }

    .table_title {
        font-size: 3.5vw;
    }

    .product_conteiner{
        font-size: 2.4vw;
    }

    .product_conteiner img {
        width: 25vw;
        transition: 1s;
    } 

    .product_conteiner img:hover {
        width: 25vw;
    
    } 

    .mb-0{
        font-size: 2.4vw;
    }
    
    .Total_conteiner {
        background-color: rgb(34, 34, 34)  !important; 
        border-radius: 1vw;
        width: 70vw;
        height: 90vw;
    }

    .mb-3 {
        width: 70vw;
        font-size: 5vw;
    }

    .mb-3:hover {
        width: 70vw;
        font-size: 5vw;
    }

    .mb-4 {
        font-size: 4.5vw;
    }

    .mb-1 {
        width: 70vw;
        font-size: 5vw;
    }

    .checkout-container .checkout-btn{
        font-size: 5vw;
        transition: 1s;
        color: white;
        justify-self: center;
        align-self: center;
        border-radius: 1vw;
        border-color: transparent;
    }
    
    .checkout-container .checkout-btn:hover {
        background-color: rgb(155, 151, 151);
        height: 4.9vw;
        font-size: 8vw;
        color: #2a2929;
    }
}

@media (max-width: 991px) {

    body {
        background-color: black;
        display: flex;
        flex-direction: column;
        min-height: 115%;
    }

} 

