
/*            Body    */

body{
    background-color: black;
    /* position: relative;
    padding-bottom: 3em;
    */
    display: flex;
    flex-direction: column;
    min-height: 150%;
}

.main_section .title {
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    transition: 1s;
}

.main_section .title:hover {
    height: 20vw;

}

.title h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
    font-weight: 200;
    transition: 1s;
}

.title h1:hover {
    transform: scale(160%);
}


/* .title h1 {
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 5.8vh;
    padding-bottom: 3%;
    font-weight: bold; 
    margin: 2%;
} */

/* .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
}  */

  /* form animation starts */

.nno_title {
    background-image: url(../img/sg_fondo.png);
    background-size:48%;
    background-position: right;
    background-repeat: no-repeat;
}


.info_conteiner {
    display: flex;
    justify-content: left;
    width: fit-content;
    background-color: rgb(18, 18, 18);
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
    border-radius: 2vw;
    padding: 2vw;
    margin: 3vw;
    color: white;
    z-index: 1;
    animation: bounce 1.5s infinite;
}

::-webkit-input-placeholder {
    font-size: 1.3em;
    color: white;
}

@keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 5px);
    }
}

.bill-form {
    width: 25vw;
}

h4 {
    font-size: 3vw;
    color: rgb(180, 179, 179);
    font-weight: bold;
    margin-left: 6%;
    transition: 1s;
}

.info_details {
    width: fit-content;
}

.form-control {
    background-color: transparent;
    border-radius: 2vw;
    transition: 1s;
    color: white;
}

.form-control:hover {
    background-color: rgb(161, 160, 160);

} 

.place_order-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place_order-container .place_order-btn {
    margin-top: 5%;
    background-color: rgb(83, 81, 81);
    font-size: 2vw;
    transition: 1s;
    color: white;
    justify-self: center;
    align-self: center;
    border-radius: 1vw;
    border-color: transparent;
}

.place_order-container .place_order-btn:hover {
    background-color: rgb(155, 151, 151);
    height: 4.9vw;
    font-size: 2.3vw;
    color: #2a2929;
}

li {
    justify-content: space-between;
    display: flex;
}

h6 {
    font-size: 1vw;
    margin-top: 1.5vw;
    width: 13vw;
}

.price {
    font-size: 1vw;
    margin-top: 1.5vw;
    margin-left: 1.2vw;
}

.total-li {
    margin-top: 2.5vw;
}

.total-li h4:hover {
    font-size: 3.5vw;
}



@media (max-width: 768px) {
    .main_section .title {
        height: 19vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 1s;
    }
    
    .main_section .title:hover {
        height: 19vw;
    
    }
    
    .title h1 {
        text-transform: uppercase;
        font-size: 3rem;
        color: white;
        font-weight: 100;
        transition: 1s;
    }
    
    .title h1:hover {
        transform: scale(100%);
    }

    body {
        background-color: black;
        /* position: relative;
        padding-bottom: 3em;
        */
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    .nno_title {
        display: flex;
        background-size:68%;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .info_conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        background-color: rgb(18, 18, 18);
        zoom: 1;
        filter: alpha(opacity=90);
        opacity: 0.9;
        border-radius: 2vw;
        padding: 2vw;
        margin: 3vw;
        color: white;
        z-index: 1;
        animation: bounce 1.5s infinite;
        flex-direction: column;
    }

    .bill-form {
        width: 70vw;
    }

    h4 {
        font-size: 6vw;
    }

    .place_order-container .place_order-btn {
        font-size: 6vw;
    }
    
    .place_order-container .place_order-btn:hover {
        background-color: rgb(155, 151, 151);
        height: 4.9vw;
        font-size: 7.3vw;
        color: #2a2929;
    }
    
    .cart_details {
        width: 80vw;
        margin-top: 10vw;
    }

    h6 {
        font-size: 4vw;
        margin-top: 1.5vw;
        width: 30vw;
    }
    
    .price {
        font-size: 4vw;
        margin-top: 1.5vw;
        margin-left: 1.2vw;
    }

    .total-li {
        font-size: 5vw;
    }
    
    .total-li h4:hover {
        font-size: 5vw;
    }

}
