@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html {
    height: 100%;
    overflow-x: hidden;

}

.navbarContenedorAbajo {
    padding: 0;
    color: white;
    background-color: rgb(7, 96, 108);
}

.navbarContenedorArriba {
    background-color: rgb(27, 27, 27);
    padding: 0;
    margin: 0;
    height: 10vh;

    /* background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.navbarContenedorArriba a {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    transition: 1s;
}

.navbarContenedorArriba a:hover {
    color: rgb(138, 76, 76);
}

.contenedorDivImagenNavbar {
    width: 25%;
    display: flex;
    justify-content: center;
}

.logoNavbar {
    height: auto;
    width: 6vw;
    margin: 5px;
}

.contenedorLinksNavbar {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50vw;
}

.contenedorInfoNavbar {
    height: 10vh;
    justify-content: space-between;
    margin-right: 3vw;
}

.buttonNavbarRight {
    color: white;
    font-size: 2rem;
    transition: 1s;
}

.buttonNavbarRight:hover {
    color: rgb(125, 0, 27);
}


.formNavbar {
    width: 27vw;
    margin-left: 5vw;
}

.inputSearchNavbar {
    background-color: rgb(36, 36, 36);
    border-color: white;
    border-radius: 2cm;
    transition: 1s;
    color: black;
    height: 40px;
    margin-top: 2%;
}

.inputSearchNavbar:hover {
    background-color: rgb(60, 57, 57);

}

.formNavbar {
    margin-right: 1.5%;
}

.search-btn{
    width: 6vw;
    transition: 1s;
    background-color: transparent;
    border: none;
}

.search-btn:hover{
    color: brown;
    background-color: transparent;
}

/*            Body    */

body{
    background-color: black;
    /* position: relative;
    padding-bottom: 3em;
    */
    display: flex;
    flex-direction: column;
    min-height: 150%;
}

.main_section .title {
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    transition: 1s;
}

.main_section .title:hover {
    height: 20vw;

}

.title h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
    font-weight: 200;
    transition: 1s;
}

.title h1:hover {
    transform: scale(160%);
}


/* .title h1 {
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 5.8vh;
    padding-bottom: 3%;
    font-weight: bold; 
    margin: 2%;
} */

/* .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
}  */

  /* form animation starts */

.nno_title {
    background-image: url(../img/sg_fondo.png);
    background-size:48%;
    background-position: right;
    background-repeat: no-repeat;
}


.info_conteiner {
    display: flex;
    justify-content: left;
    width: fit-content;
    background-color: rgb(18, 18, 18);
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
    border-radius: 2vw;
    padding: 2vw;
    margin: 3vw;
    color: white;
    z-index: 1;
    animation: bounce 1.5s infinite;
}

::-webkit-input-placeholder {
    font-size: 1.3em;
    color: white;
}

@keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 5px);
    }
}

form {
    width: 25vw;
}

h4 {
    font-size: 3vw;
    color: rgb(180, 179, 179);
    font-weight: bold;
    margin-left: 6%;
    transition: 1s;
}

.info_details {
    width: fit-content;
}

.form-control {
    background-color: transparent;
    border-radius: 2vw;
    transition: 1s;
    color: white;
}

.form-control:hover {
    background-color: rgb(161, 160, 160);

}

.place_order-container {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.place_order-container .place_order-btn {
    margin-top: 5%;
    background-color: rgb(83, 81, 81);
    font-size: 2vw;
    transition: 1s;
    color: white;
    justify-self: center;
    align-self: center;
    border-radius: 1vw;
    border-color: transparent;
}

.place_order-container .place_order-btn:hover {
    background-color: rgb(155, 151, 151);
    height: 4.9vw;
    font-size: 2.3vw;
    color: #2a2929;
}

li {
    justify-content: space-between;
    display: flex;
}

h6 {
    font-size: 1vw;
    margin-top: 1.5vw;
    width: 13vw;
}

.price {
    font-size: 1vw;
    margin-top: 1.5vw;
    margin-left: 1.2vw;
}

.total-li {
    margin-top: 2.5vw;
}

.total-li h4:hover {
    font-size: 3.5vw;
}


/* FOOTER*/

footer{
    width: 45w;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    background: black;
    /* position: absolute;
    padding: 1em 0; */
    margin-top: auto;
}

footer img{
    height: 8%;
    width: 8%;
}

footer .footerImageContainer{
    text-align: center;
    width: 100vw !important;
    height:auto;
    max-width:100%;
    max-height: fit-content !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-left: 5%;
}

.footerInfoContainer{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    position: relative;
}

.footerEtiquetasA a{
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    width: fit-content;
    text-align: justify;
    letter-spacing: 1.8px;
    line-height: 2.8vh;
    vertical-align: middle;
}

.containerLogos{
    color: white;
    align-items: center;
}

.containerLogos i {
    font-size: 1.5vw;
}

.containerLogos a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 1.5vw; 
}

.containerLogos a:hover {
    color: #626161;
}

.footerMail{
    color: white;
    align-items: center;
}

.footerMail i {
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4.8vh;
        font-weight: 500;
        margin-top: 5%;
    }

    body {
        min-height: 114%;
        background-size:120%;
    }

    .form {
        width: 89vw;
    }

    .name:hover {
        width: 330px;
    }

    .email:hover {
        width: 330px;
    }

    .message:hover {
        width: 330px;
    }
    
    footer {
        height: 24vh;
    }

    .footerInfoContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 6.2vw;
    }

    .containerLogos i {
        margin: 0;
        font-size: 2vh;
    }

    .footerMail i {
        margin: 0;
        font-size: 2vh;
    }

    .footerEtiquetasA a{
        font-size: 2.5vw;
        margin: 0;
    }

    footer .footerImageContainer {
        padding-left: 0;
        padding-bottom: 2%;
    }

    .Gibsonfooter img {
        height: 4vh;
        width: 12vw;
    }

}

@media (max-width: 991px) {
    .navbarContenedorAbajo {
        padding: 0;
        color: white;
        background-color: rgb(125, 0, 27);
    }

    .contenedorLinksNavbar {
        background-color: rgb(27, 27, 27);
        position: absolute;
        z-index: 5;
        width: 100vw;
        height: 50vh;
    }

    /* .formNavbar input, i{
        display: none;
    } */

    .menuHamburguesaButton{
        transition: 1s;
        background-color: rgb(90, 90, 90);
    }

    .menuHamburguesaButton:hover{
        border: none;
        background-color: white;
        /* border: ; */

    }


}

@media (max-width: 580px) {
    .logoNavbar{
        width: 60%;
    }
}

.contenedorLogoNavbar{
    background-color: black;
    border-radius: 50%;
    width: 4%;
}

.navbarContainer1{
    background-color: black;
    margin: 0;
    padding: 0;
}

.navbarContainer2{
   background-color: black;
}

.contenedorLogoNavbar img{
    width: 100%;
    height: auto;
}
