
/*            Body    */

body{
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 150%;
    background-size:48%;
}

/* .title h1{
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 9.8vh;
    padding-bottom: 3%;
    margin: 6%;
} */

/* .title {
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    letter-spacing: 1.8px;
    line-height: 2.8vh;
    vertical-align: middle;
    font-size: 9.8vh;
    padding-bottom: 3%;
    margin: 4%;
}

.title h1{
    text-align: center;
    font-size: 8.8vh;
    color: white;
    font-weight: bold; 

} */

.main_section .title {
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/gibsonrecords.jpg') ;
    background-size: cover;
    background-position: center 60%;
    background-repeat: no-repeat;
    transition: 1s;
}

.main_section .title:hover {
    height: 30vw;

}

.title h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: rgb(226, 225, 223);
    font-weight: 200;
    transition: 1s;
}

.title h1:hover {
    transform: scale(200%);
}

.cmp-hero {
    background: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgb(0, 0, 0) 75%, rgb(78, 43, 2) 120%);
}

.cmp-hero__content-title {
    text-transform: uppercase;
    font-size: 5rem;
    color: rgb(180, 178, 174);
    font-weight: 10;
    transition: 1s;
}

.cmp-hero__content-title:hover {
    transform: scale(130%);
}

.cmp-hero__content-description {
    width: 50vw;
    text-align: justify;
}

.cmp-spacer {
    height: 2vw;
}

.cmp-promo-container {
    padding: 3vw;
}

.cmp-promo {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(27, 27, 26);
    border-radius: 2vw;
    color: white;
}

.cmp-promo__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}

.cmp-promo__content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cmp-promo__content-eyebrow {
    color: rgb(89, 82, 82);
}

.cmp-promo__actions {
    display: flex;
    text-align: center;
    width: 10vw;
    height: 3vw;
    background-color: rgb(74, 63, 35);
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    color: white;
}


.cmp-promo__img-wrapper img {
    width: 50vw;
    border-radius: 2vw;
}


@media (max-width: 768px) {
    .cmp-hero__content-title {
        text-transform: uppercase;
        font-size: 3rem;
        color: rgb(180, 178, 174);
        font-weight: 10;
        transition: 1s;
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .cmp-hero__content-title:hover {
        transform: scale(100%);
    }

    .cmp-hero__content-description {
        width: 50vw;
        text-align: justify;
    }

    .cmp-promo {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .cmp-promo__actions {
        display: flex;
        text-align: center;
        width: 40vw;
        height: 10vw;
        border-radius: 2vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cmp-promo__img-wrapper img {
        width: 70vw;
        border-radius: 2vw;
        margin: 1vw;
    }


}
