@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html {
    height: 100%;
    overflow-x: hidden;

}

.navbarContenedorAbajo {
    padding: 0;
    color: white;
    background-color: rgb(7, 96, 108);
}

.navbarContenedorArriba {
    background-color: rgb(27, 27, 27);
    padding: 0;
    margin: 0;
    height: 10vh;

    /* background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.navbarContenedorArriba a {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    transition: 1s;
}

.navbarContenedorArriba a:hover {
    color: rgb(138, 76, 76);
}

.contenedorDivImagenNavbar {
    width: 25%;
    display: flex;
    justify-content: center;
}

.logoNavbar {
    height: auto;
    width: 6vw;
    margin: 5px;
}

.contenedorLinksNavbar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20vw;
}

.contenedorInfoNavbar {
    height: 10vh;
    justify-content: space-between;
    margin-right: 1.5vw;
    width: fit-content;
}

.nav-item {
    width: 9.5vw;
}

.cart-btn {
    width: 6vw;
}

.cart-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cart-quantity {
    position: absolute;
    top: 4px; /* Ajusta según necesites */
    right: 30px; /* Ajusta según necesites */
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonNavbarRight {
    color: white;
    font-size: 2rem;
    transition: 1s;
}

.buttonNavbarRight:hover {
    color: rgb(125, 0, 27);
}


.formNavbar {
    width: 27vw;
    margin-left: 0.5vw;
}

.inputSearchNavbar {
    background-color: rgb(36, 36, 36);
    border-color: white;
    border-radius: 2cm;
    transition: 1s;
    color: black;
    height: 40px;
    margin-top: 4%;
    width: 10vw;
}

.inputSearchNavbar:hover {
    background-color: rgb(60, 57, 57);

}

.formNavbar {
    margin-right: 1.5%;
}

.search-btn{
    width: 6vw;
    transition: 1s;
    background-color: transparent;
    border: none;
}

.search-btn:hover{
    color: brown;
    background-color: transparent;
}


/* Estilos para pantallas pequeñas */
@media (max-width: 580px) {

    .menuHamburguesaButton {
        width: 13vw;
    }

    .logoNavbar {
        width: 12vw;
        align-self: center;
        justify-self: center;
    }

    .contenedorDivImagenNavbar {
        display: flex;
        width: fit-content;
        justify-content: center;
        flex-direction: column;
    }

    .cart-btn {
        width: auto;
        padding: 0;
    }

    .cart-container {
        position: relative;
        margin-left: 0;
    }

    .cart-quantity {
        color: white;
        border-radius: 50%;
        font-size: 0.8rem;
        margin-right: 0;
        background-color: red;
        padding: 0 5px;
        position: absolute;
        top: -5px;
        right: 1px;
    }

    .buttonNavbarRight {
        color: white;
        font-size: 1.5rem;
        transition: 1s;
        margin: 0 0.5rem;
    }

    .formNavbar {
        width: fit-content;
        padding-right: 0;
        display: flex;
        align-items: center;
        align-self: flex-start;
        margin-top: 5vw;
        padding-left: 0.1vw;
        margin-right: 0;
    }

    .inputSearchNavbar {
        background-color: rgb(36, 36, 36);
        border-color: white;
        border-radius: 2cm;
        transition: 1s;
        color: white;
        height: 40px;
        margin-top: 0;
        width: 10vw;
        display: block;
    }

    .inputSearchNavbar:hover {
        background-color: rgb(60, 57, 57);
    }

    .search-btn {
        width: auto;
        transition: 1s;
        background-color: transparent;
        border: none;
        color: white;
        display: none;
    }

    .search-btn:hover {
        color: brown;
        background-color: transparent;
    }

    .navbar-toggler {
        margin-left: 0;
    }

    .contenedorInfoNavbar {
        justify-content: center;
        align-items: center;
    }

    .contenedorLinksNavbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-link {
        color: white;
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .nav-link {
        width: 40vw;
    }
}


@media (max-width: 991px) {
    .navbarContenedorAbajo {
        padding: 0;
        color: white;
        background-color: rgb(125, 0, 27);
    }

    .contenedorLinksNavbar {
        background-color: rgb(27, 27, 27);
        position: absolute;
        z-index: 5;
        width: 100vw;
        height: 50vh;
    }

    .menuHamburguesaButton {
        transition: 1s;
        background-color: rgb(90, 90, 90);
        margin: 0vw;
    }

    .menuHamburguesaButton:hover {
        border: none;
        background-color: white;
    }

    .cart-container {
        position: relative;
        margin-left: 0;
    }

    .cart-quantity {
        color: white;
        border-radius: 50%;
        font-size: 0.8rem;
        margin-right: 0;
        background-color: red;
        padding: 0 5px;
        position: absolute;
        top: 0px;
        right: -10px;
    }

    .buttonNavbarRight {
        color: white;
        font-size: 1.5rem;
        transition: 1s;
        margin: 0 0.5rem;
    }

    .formNavbar {
        width: fit-content;
        margin-left: 0;
        display: flex;
        align-items: center;
    }

    .inputSearchNavbar {
        background-color: rgb(36, 36, 36);
        border-color: white;
        border-radius: 2cm;
        transition: 1s;
        color: white;
        height: 40px;
        margin-top: 0;
        width: 40vw; 
        display: block;
    }

    .inputSearchNavbar:hover {
        background-color: rgb(60, 57, 57);
    }

    .search-btn {
        width: auto;
        transition: 1s;
        background-color: transparent;
        border: none;
        color: white;
        display: none; 
    }

    .search-btn:hover {
        color: brown;
        background-color: transparent;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .contenedorInfoNavbar {
        justify-content: center;
        align-items: center;
    }

    .contenedorLinksNavbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-link {
        color: white;
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .nav-link {
        width: 40vw;
    }
} 