@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}

html {
    height: 100%;
    overflow-x: hidden;

}

.navbarContenedorAbajo {
    padding: 0;
    color: white;
    background-color: rgb(7, 96, 108);
}

.navbarContenedorArriba {
    background-color: rgb(27, 27, 27);
    padding: 0;
    margin: 0;
    height: 10vh;

    /* background-color: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
}

.navbarContenedorArriba a {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    transition: 1s;
}

.navbarContenedorArriba a:hover {
    color: rgb(138, 76, 76);
}

.contenedorDivImagenNavbar {
    width: 25%;
    display: flex;
    justify-content: center;
}

.logoNavbar {
    height: auto;
    width: 6vw;
    margin: 5px;
}

.contenedorLinksNavbar {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50vw;
}

.contenedorInfoNavbar {
    height: 10vh;
    justify-content: space-between;
    margin-right: 3vw;
}

.buttonNavbarRight {
    color: white;
    font-size: 2rem;
    transition: 1s;
}

.buttonNavbarRight:hover {
    color: rgb(125, 0, 27);
}


.formNavbar {
    width: 27vw;
    margin-left: 5vw;
}

.inputSearchNavbar {
    background-color: rgb(36, 36, 36);
    border-color: white;
    border-radius: 2cm;
    transition: 1s;
    color: black;
    height: 40px;
    margin-top: 2%;
}

.inputSearchNavbar:hover {
    background-color: rgb(60, 57, 57);

}

.formNavbar {
    margin-right: 1.5%;
}

.search-btn{
    width: 6vw;
    transition: 1s;
    background-color: transparent;
    border: none;
}

.search-btn:hover{
    color: brown;
    background-color: transparent;
}

/* HOLA DAVID JARDINEROOOO NO BORRES ESTO. 

EL QUE BORRE ESTO ES JARDINERO Y SE SIENTA AHÍ. NO BORRAR. 

.contenedorLogoNavbar{
    background-color: black;
    border-radius: 50%;
    width: 4%;
}

.navbarContainer1{
    background-color: black;
    margin: 0;
    padding: 0;
}

.navbarContainer2{
background-color: black;

}

.contenedorLogoNavbar img{
    width: 100%;
    height: auto;
} */


body {
    background-color: rgb(0, 0, 0);
    background-image: url("../img/background_paginaPrincip.png");
    background-size: cover;
    background-position: center -160%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

/* .main_section {
    height: 90vh;

} */

.main_section .title {
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img2-bg.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    transition: 1s;
}

.main_section .title:hover {
    height: 30vw;

}

.title h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
    font-weight: 200;
    transition: 1s;
}

.title h1:hover {
    transform: scale(200%);
}


.main_img {
    position: absolute;
    z-index: 3;
    width: 26%;
    height: 120vh;
    float: inline-start;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

.guitarras {
    overflow: hidden;
    padding: 30px 0 15vh;
    white-space: nowrap;
    position: relative;
}

.slider {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    animation: 40s slide infinite linear;

}

.slider img {
    width: 25%;
    margin: 0 8%;
}

.cont_p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: fit-content;
    margin: 0 auto;
}

section p {
    color: white;
    text-align: justify;
    letter-spacing: 1.8px;
    line-height: 2.8vh;
    vertical-align: middle;
    font-size: 1.8vh;
}

footer {
    width: 45w;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    background: black;
    /* position: absolute;
    padding: 1em 0; */
    margin-top: auto;
}

footer img {
    height: 8%;
    width: 8%;
}

footer .footerImageContainer {
    text-align: center;
    width: 100vw !important;
    height: auto;
    max-width: 100%;
    max-height: fit-content !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    /*padding-bottom: 4.6%;*/
    padding-left: 5%;
}

.footerInfoContainer {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    position: relative;
}

.footerEtiquetasA a {
    text-decoration: none;
    font-size: 1.2vw;
    color: white;
    width: fit-content;
    text-align: justify;
    letter-spacing: 1.8px;
    line-height: 2.8vh;
    vertical-align: middle;
}

.containerLogos {
    color: white;
    align-items: center;

}

.containerLogos i {
    font-size: 1.5vw;
}

.containerLogos a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
    font-size: 1.5vw; 
}

.containerLogos a:hover {
    color: #626161;
}


.footerMail {
    color: white;
    align-items: center;
}

.footerMail i {
    font-size: 1.5vw;
}

/* PANTALLAS MEDIANAS ----------------------------------------------------------------------------------------------------------*/

@media (max-width: 991px) {
    .navbarContenedorAbajo {
        padding: 0;
        color: white;
        background-color: rgb(125, 0, 27);
    }

    .contenedorLinksNavbar {
        background-color: rgb(27, 27, 27);
        position: absolute;
        z-index: 5;
        width: 100vw;
        height: 50vh;
    }

    .menuHamburguesaButton{
        transition: 1s;
        background-color: rgb(90, 90, 90);
    }

    .menuHamburguesaButton:hover{
        border: none;
        background-color: white;
        /* border: ; */

    }


}

@media (max-width: 768px) {
    .main_section .title {
        height: 19vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/Slash-Main_0.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 1s;
    }
    
    .main_section .title:hover {
        height: 19vw;
    
    }
    
    .title h1 {
        text-transform: uppercase;
        font-size: 3rem;
        color: white;
        font-weight: 100;
        transition: 1s;
    }
    
    .title h1:hover {
        transform: scale(100%);
    }
    
    
    .cont_p {
        width: 90%;
        margin-top: 8vh;
    }

    .slider img {
        width: 70%;
    }

    .guitarras {
        padding-bottom: 15%;
    }

    body {
        background-image: url(../img/background_mobile.png);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }

    section p {
        letter-spacing: 1px;
        line-height: 2.3vh;
        font-size: 1.2vh;
    }

    .main_img {
        width: 39%;
        height: 47%;
    }

    .main_section {
        height: 85vh;
    }

    footer {
        height: 12vh;
    }

    .footerInfoContainer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 6.2vw;
    }

    .containerLogos i {
        margin: 0;
        font-size: 2vh;
    }

    .footerMail i {
        margin: 0;
        font-size: 2vh;
    }

    .footerEtiquetasA a {
        font-size: 2.5vw;
        margin: 0;
    }

    footer .footerImageContainer {
        padding-left: 0;
        padding-bottom: 2%;
    }

    .Gibsonfooter img {
        height: 4vh;
        width: 12vw;
    }

}

@media (max-width: 580px) {
    .logoNavbar{
        width: 60%;
    }
}
