
body {
    background-color: rgb(0, 0, 0);
    /* background-image: url("../img/background_paginaPrincip.png"); */
    background-size: cover;
    background-position: center -160%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}

/* .main_section {
    height: 90vh;

} */

.main_section .title {
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/img2-bg.jpg");
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
    transition: 1s;
}

.main_section .title:hover {
    height: 30vw;

}

.title h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
    font-weight: 200;
    transition: 1s;
}

.title h1:hover {
    transform: scale(200%);
}


.main_img {
    position: absolute;
    z-index: 3;
    width: 26%;
    height: 120vh;
    float: inline-start;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

.guitarras {
    overflow: hidden;
    padding: 30px 0 15vh;
    white-space: nowrap;
    position: relative;
    background: linear-gradient(0deg, rgb(0, 0, 0) 45%, rgb(17, 17, 17) 100%);
}

.slider {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    animation: 40s slide infinite linear;

}

.slider img {
    width: 25%;
    margin: 0 8%;
}

.cont_p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: fit-content;
    margin: 0 auto;
}

section p {
    color: white;
    text-align: justify;
    letter-spacing: 1.8px;
    line-height: 2.8vh;
    vertical-align: middle;
    font-size: 1.8vh;
}

@media (max-width: 768px) {
    .main_section .title {
        height: 19vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/Slash-Main_0.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 1s;
    }
    
    .main_section .title:hover {
        height: 19vw;
    
    }
    
    .title h1 {
        text-transform: uppercase;
        font-size: 3rem;
        color: white;
        font-weight: 100;
        transition: 1s;
    }
    
    .title h1:hover {
        transform: scale(100%);
    }
    
    
    .cont_p {
        width: 90%;
        margin-top: 3vh;
    }

    .slider img {
        width: 70%;
    }

    .guitarras {
        padding-bottom: 15%;
    }

    body {
        /* background-image: url(../img/background_mobile.png); */
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    }

    section p {
        letter-spacing: 1px;
        line-height: 2.3vh;
        font-size: 1.2vh;
    }

    .main_img {
        width: 39%;
        height: 47%;
    }

    .main_section {
        height: 85vh;
    } 

}

