
/* body {

    background-color: black;
    position: relative;
    box-sizing: inherit;
    padding-bottom: 3em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

body{
    background-color: black;
    /* position: relative;
    padding-bottom: 3em;
    */
    display: flex;
    flex-direction: column;
    min-height: 150%;
    background-size:48%;
}


/* .main_section {
    width: 100vw;
    height: 80vh;
    
} */

.main_section .titleContainer {
    height: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/img1-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 1s;
    flex-direction: column;
}

.main_section .titleContainer:hover {
    height: 40vw;

}

.titleContainer h1 {
    text-transform: uppercase;
    font-size: 5rem;
    color: white;
    font-weight: 200;
    transition: 1s;
}

.titleContainer h1:hover {
    transform: scale(200%);
}

.titleContainer p {
    text-transform: uppercase;
    font-size: 2rem;
    color: rgb(146, 145, 145);
    font-weight: 100;
    transition: 1s;
}

.titleContainer p:hover {
    transform: scale(150%);
}


.cardsContainer {
    height: fit-content;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 65%, rgb(20, 16, 0) 100%);
}


.main_section .card {
    width: 10%;
    height: fit-content;
    border-radius: 15px;
    background: #494949d4;
    /* box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60); */
    /* flex: 1 1 200px; */
    flex: 0 0 20%;
    /* margin-bottom: 2%; */
    margin: 2%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

.card:hover {
    transform: scale(110%);
}

.card .guitarImgContainer {
    width: auto;
}

.card .logoGibsonCard {
    display: flex;
    justify-content: left;
}

.logoGibsonImgCard {
    width: 35%;
    height: auto;
}

.card .guitarImgContainer {
    width: 100%;
    height: auto;
}

.productName {
    padding-top: 5%;
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

.productPrice {
    color: white;
    font-size: 1.5rem;
    text-align: center;

}

.buy-btn {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-transform: uppercase;
    /* box-shadow: 6px 6px 12px #c5c5c5,
        -6px -6px 12px #ffffff; */
}

.buy-btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #d8a60f 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.buy-btn:hover::before {
    width: 9em;
}

.pagination\:container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
  
.pagination > li > a {
    background-color: transparent;
    color: #818082;
    border: 0;
}
  
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #fffefe;
    background-color: #242424;
    border: 0;
}
  
  
  
.pagination > .active > a{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}
  
.pagination > .active > a:hover{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}
/* PANTALLAS GRANDES ----------------------------------------------------------------------------------------------------------*/


@media (max-width: 1200px) {
    
    .cardsContainer{
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgb(0, 0, 0) 65%, rgb(20, 16, 0) 100%);
    }

    .main_section .card {
        width: 10%;
        height: fit-content;
        border-radius: 15px;
        background: #494949d4;
        flex: 0 0 25%;
        margin: 2%;
        padding: 2%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
    }

    body{
        background-color: black
    }
}

/* PANTALLAS MEDIANAS ----------------------------------------------------------------------------------------------------------*/

@media (max-width: 768px) {
    
    .main_section .titleContainer {
        height: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/Slash-Main_0.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 1s;
    }
    
    .main_section .titleContainer:hover {
        height: 20vw;
    
    }
    
    .titleContainer h1 {
        text-transform: uppercase;
        font-size: 3rem;
        color: white;
        font-weight: 100;
        transition: 1s;
    }
    
    .titleContainer h1:hover {
        transform: scale(200%);
    }

    body {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .cardsContainer {
        height: fit-content;
        display: flex;
        width: 100vw;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgb(0, 0, 0) 65%, rgb(20, 16, 0) 100%);
    }

    .main_section {
        height: fit-content;
        background-color: black;
    }

    .main_section .card {
    width: 400%;
    /* box-shadow: 15px 15px 30px rgb(25, 25, 25), -15px -15px 30px rgb(60, 60, 60); */
    /* flex: 1 1 200px; */
    flex: 0 0 70%; 
    /* margin-bottom: 2%; */
    margin: 10%;
    padding: 2%; 
    }

    .card:hover {
    transform: scale(110%);
    }   

    .card .guitarImgContainer {
        width: 70vw;
    }
    
    
    .logoGibsonImgCard {
        width: 60%;
    }
    
    .productDescription {
        padding-top: 5%;
        color: white;
        font-size: 1.2rem;
        text-align: center;
    }
    
    .productPrice {
        color: white;
        font-size: 1.1rem;
        text-align: center;
    
    }
    
    button {
        width: 6em;
        height: 3em;
        border-radius: 30em;
        font-size: 15px;
        font-family: inherit;
        border: none;
        position: relative;
        overflow: hidden;
        z-index: 1;
        text-transform: uppercase;
        /* box-shadow: 6px 6px 12px #c5c5c5,
            -6px -6px 12px #ffffff; */
    }
    
    button::before {
        content: '';
        width: 0;
        height: 3em;
        border-radius: 30em;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #d8a60f 0%, #f9f047 100%);
        transition: .5s ease;
        display: block;
        z-index: -1;
    }
    
    button:hover::before {
        width: 9em;
    }

}
