

.main-content {
    width: 87vw;
    padding: 2vw;
    /* flex-grow: 1;
    padding: 20px;
    background-color: #181828;
    overflow-y: auto; */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vw;
}

header h1 {
    color: #ffffff;
    font-size: 3vw;
}

.create-report-btn {
    /* background-color: rgb(55, 54, 54);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s; */
    background-color: rgb(83, 81, 81);
    font-size: 1.3vw;
    transition: 1s;
    color: white;
    border: 0;
    transition: 0.9s;
    width: 13vw;
    height: 3vw;
    border-radius: 1.4vw;
}

.create-report-btn:hover {
    background-color: rgb(141, 139, 139);
    color: #000000;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.stat-card {
    background-color: #24243a;
    padding: 20px;
    border-radius: 10px;
    width: 22%;
    text-align: center;
}

.stat-card h3 {
    color: #b1b1b1;
    font-size: 16px;
}

.stat-card p {
    font-size: 24px;
    color: #ffffff;
}

.charts {
    display: flex;
    justify-content: space-between;
}

.charts .total-revenue, .charts .recent-profits {
    background-color: rgb(56,60,60) !important;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.chart-container {
    background: #383c3c;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.chart {
    width: 100%;
    height: 400px;
}


.charts h3 {
    color: #b1b1b1;
    margin-bottom: 20px;
}

.formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    transition: all 0.5s ease 0s;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.5vw;
}

.option {
    background-color: #242424;
    margin-bottom: 10px;
    background-color:none;
}

.option label {
    display: block;
    font-size: 2.5vh;
    margin-bottom: 5px;
    color: #aaa;
}

.option input, .option select {
    width: 60%;
    padding: 1vw;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    border-radius: 15px;
}

.submit {
    background-color: rgb(83, 81, 81);
    font-size: 2vw;
    transition: 1s;
    color: white;
    border: 0;
    transition: 0.9s;
    width: 14vw;
    border-radius: 1.4vw;
}

.submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    border: 5px solid #55524f;
    background-color: rgb(155, 151, 151);
    font-size: 2.3vw;
    color: #2a2929;
}

@media (max-width: 768px) {
    .stats {
        flex-direction: column;
        gap: 20px;
    }
    
    .stat-card {
        width: 100%;
    }

    .charts {
        flex-direction: column;
    }

    .charts .total-revenue, .charts .recent-profits {
        width: 100%;
    }

    .sidebar {
        width: 200px;
    }
}
